# 書き方
# [EVENT{連番}] ... [EVENT1]や[EVENT2]で、自動登録するイベントの設定に名前をつける
# EVENT_NAME={イベント名} ... 登録するイベントの名前
# PLATFORM={プラットフォーム} ... イベントが対応しているプラットフォーム　[PC, PC/android, android]から選択
# BASE_DATE={基点日時} ... 指定した日時を基点とし、本スクリプトを実行した日時に最も近い未来のBASE_DATE+INTERVAL日後で自動登録が走る
# EVENT_TIME={イベント時間} ... イベントが実施される時間をhrで指定する　1時間45分なら1.75と指定する
# OWNER={イベント主催者} ... イベントの主催者を指定する
# DESC={イベントの内容} ... イベントの内容
# CATEGORY={イベントジャンル番号} ... 以下の一覧からイベントジャンルを番号で選ぶ
# 0: アバター試着会
# 1: 改変アバター交流会
# 2: その他交流会
# 3: VR飲み会
# 4: 店舗系イベント
# 5: 音楽系イベント
# 6: 学術系イベント
# 7: ロールプレイ
# 8: 初心者向けイベント
# 9: 定期イベント
# JOIN_CONDITION={参加条件} ... イベントの参加条件
# JOIN_DIRECTION={参加方法} ... イベントの参加方法
# REMARKS={備考} ... 備考

# フォーマット
# EVENT_NAME ... 文字列
# PLATFORM ... PC, PC/Android, Android から選択
# BASE_DATE ... YYYY/MM/DD HH:MM (24時間表記)
# EVENT_TIME ... 浮動小数点型 (1時間45分 = 1.75)
# OWNER ... 文字列
# DESC ... 文字列
# CATEGORY ... 整数（未入力可）
# JOIN_CONDITION ... 文字列
# JOIN_DIRECTION ... 文字列
# REMARKS ... 文字列

# テンプレート（この行から下をコピペして左端の#を消してください）
#[EVENT1]
#EVENT_NAME=イベント名
#PLATFORM=PC
#BASE_DATE=2025/12/29 22:00
#EVENT_TIME=1.0
#OWNER=名前
#DESC=イベント内容（未入力可）
#CATEGORY=3（未入力可）
#JOIN_CONDITION=参加条件（未入力可）
#JOIN_DIRECTION=参加方法（未入力可）
#REMARKS=備考（未入力可）

########## ここから下にテンプレートを貼り付けて設定内容を記入してください ##########

# 月曜日用
[EVENT1]
EVENT_NAME=撃剣部
PLATFORM=PC
BASE_DATE=2025/12/25 22:00
EVENT_TIME=1.0
OWNER=Noih
DESC=刀キットで命を奪い合う！
CATEGORY=3
JOIN_CONDITION=グループに参加すること
JOIN_DIRECTION=グループに参加後、グループインスタンスにJoin
REMARKS=フルトラ推奨

# 木曜日用
[EVENT2]
EVENT_NAME=撃剣部
PLATFORM=PC
BASE_DATE=2025/12/25 22:00
EVENT_TIME=1.0
OWNER=Noih
DESC=刀キットで命を奪い合う！
CATEGORY=3
JOIN_CONDITION=グループに参加すること
JOIN_DIRECTION=グループに参加後、グループインスタンスにJoin
REMARKS=フルトラ推奨